.container {
    max-width: auto;
    min-width: auto;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    .container_option {
        background-color: rgba(255, 255, 255, 0.027);
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 5px;
        cursor: pointer;
        .icon {
            font-size: 20px;
        }
        .badge {
            position: absolute;
            bottom: -5px;
            right: -5px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #008cff7c;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            color: #fff; 
        }
    }
}
